@model Veiculo

@{
    ViewBag.Title = "Adicionar Veículo";
}

<h2 class="subheader-text">@ViewBag.Title</h2>


@Html.AntiForgeryToken()

<form asp-action="AdicionarVeiculo" asp-controller="Home" method="post" class="form-horizontal">

    <div class="d-flex row p-3 gap-3">
        <div class="form-group">
            <label for="Chassi">Chassi</label>
            <div class="col-md-10">
                <input asp-for="Chassi" class="form-control" placeholder="Digite o número do chassi" />
                <span asp-validation-for="Chassi"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Montadora">Montadora</label>
            <div class="col-md-10">
                <input asp-for="Montadora" class="form-control" placeholder="Digite o nome da montadora" />
                <span asp-validation-for="Montadora"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Moodelo">Modelo</label>
            <div class="col-md-10">
                <input asp-for="Modelo" class="form-control" placeholder="Digite o nome do modelo" />
                <span asp-validation-for="Modelo"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Placa">Placa</label>
            <div class="col-md-10">
                <input asp-for="Placa" class="form-control" placeholder="Digite o número da placa" />
                <span asp-validation-for="Placa"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="AnoFabricacao">Ano de Fabricação</label>
            <div class="col-md-10">
                <input asp-for="AnoFabricacao" type="number" class="form-control" placeholder="Digite o ano de fabricação" />
                <span asp-validation-for="AnoFabricacao"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Adicionar" class="btn btn-success">Adicionar Veículo</button>
            </div>
        </div>
    </div>
</form>


<div>
    <a class="btn btn-secondary" href="javascript:history.back()"><i class='bx bx-arrow-back'></i> Retornar</a>
</div>
